.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.mainSlogan {
  font-size: 285%;
}

.mainUnderSlogan {
  font-size: 110%;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 75%;
}
