# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Go Mysql Driver
# Planetscale Serverless DB
DATABASE_URL=
# Has to end in url.../search
ASU_API_URL=
# How many milliseconds to wait between each worker (DONT GET RATE LIMITED)
# RECOMMENDED: 200-1200
RATE_LIMIT=
# How many *seconds* to wait between draining classQueue
# Basically how often to wait between batched requests
# RECOMMENDED: 300-1200
WATCH_INTERVAL=
# Log level, can be "debug", "info", "warn", "error" "fatal", "all"
LOG_LEVEL=


