# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Go Mysql Driver & Ent ORM Database Connection URL
# Make sure to set parseTime=True in the URL
DSN=
# Has to end in {https://...url.../search}
ASU_API_URL=
# Can be "debug", "info", "warn", "error" "fatal", "all"
LOG_LEVEL=

